body * {
  border: .1px solid red;
}
:root {
--smallPadding: .5rem;
--zinc400: #A1A1AA;
--fontSizeBigger: 1.2rem;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.calcContainer {
  display:grid;
}
.resultContainer {
}
.calcBtn, .resetBtn {
  background: var(--zinc400);
  font-size: var(--fontSizeBigger);
}
